<div id="pixel-wrapper">
  <%= simple_form_for @art, html: {class: "art-form"} do |f| %>
    <% 8.times.each do |i| %>
      <div class="art-form__row">
        <% 8.times.each do |ii| %>
          <input class="art-form__input" name="colors[<%= i %>][<%= ii %>]">
        <% end %>
      </div>
    <% end %>
    <%= f.submit 'Save' %>
  <% end %>
</div>
