// Place all the styles related to the Art controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.art {
  height: 512px;
  width: 512px;
  display: flex;
  flex-direction: column;
  margin: 16px;
  .art__row {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  .art__pixel {
    flex: 1;
    background: #f8f8f8;
  }
}

.art-form {
  margin: 16px;
  .art-form__top {
    display: flex;
    flex-direction: column;
    height: 512px;
    width: 512px;
  }
  .art-form__row {
    flex: 1;
    display: flex;
    flex-direction: row;
    &:nth-child(even) {
      .art-form__input {
        &:nth-child(even) {
          background: #f2f2f2;
        }
      }
    }
    &:nth-child(odd) {
      .art-form__input {
        &:nth-child(odd) {
          background: #f2f2f2;
        }
      }
    }
  }
  .art-form__input {
    background: #f8f8f8;
    width: 64px;
    height: 64px;
    border: none;
    outline: none;
    text-align: center;
  }
}

.pixel {
  .pixel__input {

  }
}

.art-list {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  .art {
    width: 256px;
    height: 256px;
  }
}
