.button {
  display: block;
  width: auto;
  margin: 8px auto;
  border: none;
  outline: none;
  text-decoration: none;
  font-family: "Courier New";
  color: #fff;
  background: #222;
  padding: 8px 16px;
  box-sizing: border-box;
  &.button--primary {
    background: #2ecc71;
    transition: opacity 100ms ease-in-out;
    &:hover {
      opacity: .8;
    }
  }
}
